canvas {
    -webkit-user-select: none;
}

#page-content-wrapper {
    margin-left: 200px;
}

#titles .small{
    font-size: 50%;
}

#titles {
    border-bottom: solid 3px black;
    -webkit-user-select: none;
}

#titles.cpu {
    border-bottom-color: #f38b4a;
}

#titles.gpu {
    border-bottom-color: #aa2f3a;
}

#titles.memory {
    border-bottom-color: #cc576e;
}

#titles.storage {
    border-bottom-color: #c1cc66;
}

#titles.os {
    border-bottom-color: #9c86cc;
}

#titles.network {
    border-bottom-color: #a4cc99;
}

/*Rendering a toggle switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: -5px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #f38b4a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f38b4a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
